//@import '../scss/tools/_reset';
@import '../scss/modules/mini_reset';
@import '../scss/modules/vars';
@import '../scss/modules/base';



/*======================================================
 HEADER
=======================================================*/


.header {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 5px solid $border-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // background: red;

    .brand {
        font-size: 2.8rem;
        margin-right: 61px;
        font-family: $secondary-font, sans-serif;
        font-weight: bold;
        display: inline-block;
        color: #717171;
    }

    .header__nav {
        padding-top: 15px;

        a {
            margin-right: 10px;
            text-decoration: none;
            opacity: 0.8;
            color: inherit;
            padding-bottom: 3px;

            transition: opacity .3s ease, border-bottom 0.2s ease;

            &:hover {
                border-bottom: 2px solid black;
                opacity: 1;
            }

            &.active {
                border-bottom: 2px solid black;
                opacity: 1;
                font-weight: bold;
            }
        }

    }
}


/*======================================================
 HERO
=======================================================*/

.hero {
    text-align: center;
    // background: black;
    background: url('../img/background-header.jpg') top left no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 230px;
    margin-top: 0;
    color: white;
    padding-top: 4.4rem;

    .hero__title {
        font-size: 2.4rem;
        margin: 0;
        font-family: $secondary-font, sans-serif;
        font-weight: bold;
    }

    p {
        text-transform: uppercase;

        border-bottom: 1px solid white;
        margin: 1.2rem 0;
        padding: 3px 20px;
        font-weight: 700;
        display: inline-block;
        width: auto;

    }
}



/*======================================================
 MAIN CONTENT
=======================================================*/


.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left {
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.main .content .card.right {
    flex: 0 0 70%;
}

.main .content .card .right img {
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

.card__title {
    color: inherit;
    font-size: 2.2rem;
    margin-bottom: .6rem;
}


/*======================================================
 FOOTER
=======================================================*/
.footer {
    background-color: #000000;
    border-top: 5px solid #6f6f6f;
    color: white;

    .footer__title {
        padding: 10px 20px;
        font-size: 2rem;
        font-family: $secondary-font, sans-serif;
        border-bottom: 1px solid white;
        width: 19%;
        margin-bottom: 20px;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 90%;

        .col {

            margin: 0 30px 10px 0;
            width: auto;
            max-width: 300px;

        }
    }

    .footer__copyright {
        text-align: center;
        padding-bottom: 10px;
        margin-top: 20px;
    }
}

.secondary-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

/*======================================================
 MEDIA QUERIES
=======================================================*/
@media only screen and (max-width:680px) {

    .brand {
        margin: 0;
        padding: 0;
        align-self: center;
    }

    .main .card {
        margin: 10px;
    }

    .main .content .card .right img {
        height: 200px;
        width: 100%;
        margin-top: -0px;
    }

    .main .content .card {
        display: block;
    }


    footer {
        padding: 30px;

    }
}