/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*======================================================
 VARIABLES
=======================================================*/
/*======================================================
 BASE
=======================================================*/
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}

.header {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 5px solid #6f6f6f6f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header .brand {
  font-size: 2.8rem;
  margin-right: 61px;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #717171;
}
.header .header__nav {
  padding-top: 15px;
}
.header .header__nav a {
  margin-right: 10px;
  text-decoration: none;
  opacity: 0.8;
  color: inherit;
  padding-bottom: 3px;
  transition: opacity 0.3s ease, border-bottom;
}
.header .header__nav a:hover {
  border-bottom: 2px solid black;
  opacity: 1;
}

.btn {
  padding: 10px 15px;
  margin-bottom: 10px;
  outline: none;
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-weight: bold;
  background: whitesmoke;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 0.3s ease, scale 0.3s ease;
}
.btn:hover {
  transform: scale(1.03);
  opacity: 1;
}

.main .hero {
  text-align: center;
  background: url("../img/background-header.jpg") top left no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 230px;
  margin-top: 0;
  color: white;
  padding-top: 4.4rem;
}
.main .hero .hero__title {
  font-size: 2.4rem;
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
}
.main .hero p {
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin: 1.2rem 0;
  padding: 3px 20px;
  font-weight: 700;
  display: inline-block;
  width: auto;
}

.content {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.content .card .card__content {
  background: black;
  color: white;
  padding: 10px 20px;
  flex: 0 0 30%;
}
.content .card .card__content .card__title {
  color: inherit;
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
}
.content .card .card__content p {
  padding: 0;
  margin: 0;
  line-height: 1.8rem;
}
.content .card .card__image {
  flex: 0 0 70%;
  margin-top: 5px;
}
.content .card .card__image img {
  width: 100%;
  max-width: 400px;
  height: 300px;
}

/*======================================================
 FOOTER
=======================================================*/
.footer {
  background-color: #000000;
  border-top: 5px solid #6f6f6f;
  color: white;
}
.footer .footer__title {
  padding: 10px 20px;
  font-style: 2rem;
  font-family: "Playfair Display", sans-serif;
  border-bottom: 1px solid white;
  width: 20%;
  margin-bottom: 20px;
}
.footer .footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}
.footer .footer__content .col {
  margin-right: 30px;
  width: auto;
  max-width: 300px;
  margin-bottom: 10px;
}
.footer .footer__copyright {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
}

.secondary-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

/*======================================================
 MEDIA QUERIES
=======================================================*/
@media screen and (max-width: 500px) {
  body {
    background-color: #6f6f6f6f;
  }
}

/*# sourceMappingURL=app.css.map */
